* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

.body {
	background: radial-gradient(#9d1c20 50%, #720b17 100%);
}

.App {
	text-align: center;
}

.headers {
	background-color: rgb(22, 20, 1);
	display: flex;
	justify-items: center;
	justify-content: space-evenly;
	padding: 10px;
	position: sticky;
	top: 0px;
}

.navs {
	color: #fff;
}

.navs:hover {
	color: #B0954A;
}


.footer {
	margin-top: 130px;
	display: flex;
	justify-items: center;
	justify-content: space-around;
	background-color: rgb(22, 20, 1);
	padding: 20px;
	position: sticky;
	bottom: 0px;
}

.cardDeck {
	display: flex;
	flex-wrap: wrap;
}

.cards {
	flex: 20%;
	/* max-height: 225px; */
	margin: 5px;
	width: fit-content;
}

.open {
	flex: 20%;
	/* height: 40%; */
	margin: 5px;
}

.collapse {
	background: transparent;
}

.openSlide {
	display: flex;
	flex-wrap: wrap;
	/* display: grid; 
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: repeat(1,1fr);  */
	/* width: 200%; */
	background: transparent;
}

.openSlide2 {
	display: flex;
	flex-wrap: wrap;
	background: transparent;
}

.openSlide3 {
	display: flex;
	flex-wrap: wrap;
	background: transparent;
}

.cardStyle {
	flex: 2%;
	display: flex;
	flex-wrap: wrap;
	/* width: 100%; */
	margin: 5px;
	/* position: relative; */
	display: grid;
	justify-items: center;

}

.titles {
	font-size: 18px;
	font-weight: bold;
	color: #F1DF8D;
	background-color: black;
	/* margin: 0px 45px; */
	padding: 5px;
}

.btns {
	border: none;
	margin: 5px;
	background-color: transparent;
	color: black;
}

/* .btns:hover {
	border: none;
	outline: none;
} */

.imgSize {
	box-shadow: 1px 1px 1px 1px rgb(202, 196, 196);
	/* width: 70%;
	height: 100px; */
}

.CardTitle {
	font-size: 18px;
	color: darkorange;
	font-weight: bold;
}

@media screen and (min-width: 375px) and (max-width: 775px) {
	.cardDeck {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		justify-content: space-around;
	}

	.imgSize {
		width: 150px;
	}

	.openSlide {
		display: grid;
		grid-template-columns: repeat(3, 70%);
	}

	.openSlide2 {
		display: grid;
		grid-template-columns: repeat(3, 70%);
		position: relative;
		right: 100%;
	}

	.openSlide3 {
		/* display: flex;
		flex-wrap: wrap;
		background-color: rgb(235, 233, 225);
		position: relative;
    left: 10%; */
		display: grid;
		grid-template-columns: repeat(2, 110%);
	}

	.cardStyle {
		display: grid;
		top: 10px;
		right: 10%;
	}
}

/* Contact page */

.contactUs {
	text-transform: uppercase;
	color: darkorange;
}

.form {
	display: grid;
	justify-content: center;
	justify-items: center;
	margin: 80px;
	padding: 40px;
	background-color: rgb(22, 20, 1);
	border-radius: 20px;
	text-align: center;
}

label {
	color: darkorange;
	margin: 5px;
}

.contact-btn {
	border: none;
	margin: 10px;
	padding: 5px;
	width: 100px;
	background-color: darkorange;
	font-weight: bold;
}