* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

.body {
	background: radial-gradient(#9d1c20 50%, #720b17 100%);
}

.App {
	text-align: center;
}

.headers {
	background-color: rgb(22, 20, 1);
	display: flex;
	justify-items: center;
	justify-content: space-evenly;
	padding: 10px;
	position: sticky;
	top: 0px;
}

.navs {
	color: #fff;
}

.navs:hover {
	color: #b0954a;
}

.footer {
	margin-top: 130px;
	display: flex;
	justify-items: center;
	justify-content: space-around;
	background-color: rgb(22, 20, 1);
	padding: 20px;
	position: sticky;
	bottom: 0px;
}

.cardDeck {
	display: flex;
	flex-wrap: wrap;
}

.cards {
	flex: 20%;
	min-height: 100px;
	margin: 10px;
}

.open {
	flex: 20%;
	margin: 10px;
}

.collapse {
	background: transparent;
}

.openSlide {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 430%;
}

.openSlide2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 400%;
	transform: translateX(-24%);
	background: transparent;
}

.cardStyle2 {
	/* flex: 1%; */
	flex-basis: 18%;
	margin: 10px;
}

.openSlide3 {
	display: flex;
	flex-wrap: wrap;
	background: transparent;
}

.cardStyle {
	/* flex: 10%; */
	display: flex;
	flex-wrap: wrap;
	flex-basis: 180px;
	margin: 5px;
}

/* .sml {
	display: flex;
	flex-wrap: wrap;
	height: 100px;
	justify-content: center;
	margin: 2px;
} */

.titles {
	font-size: 18px;
	font-weight: bold;
	color: #f1df8d;
	background-color: black;
	/* margin: 0px 45px; */
	padding: 5px;
}

.btns {
	border: none;
	/* margin: 5px; */
	background-color: transparent;
	color: black;
}

.imgSize {
	box-shadow: 1px 1px 1px 1px rgb(202, 196, 196);
	/* width: 70%;
	height: 100px; */
	/* width: 320px; */
}

.smlImg {
	width: 105%;
	max-height: 100%;
}

.CardTitle {
	font-size: 16px;
	color: darkorange;
	font-weight: bold;
	margin: 3px;
}

@media screen and (min-width: 320px) and (max-width: 776px) {
	.cardDeck {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		/* justify-content: space-around; */
	}

	.imgSize {
		width: 100%;
	}

	.openSlide {
		display: flex;
		flex-wrap: wrap;
		width: 200%;
	}

	.openSlide2 {
		display: flex;
		flex-wrap: wrap;
		width: 200%;
		transform: translateX(-50%);
	}

	.cardStyle2 {
		display: flex;
		flex-wrap: wrap;
		flex: 25%;
	}

	.openSlide3 {
		/* display: flex;
		flex-wrap: wrap;
		background-color: rgb(235, 233, 225);
		position: relative;
        left: 10%; */
		display: grid;
		grid-template-columns: repeat(2, 110%);
	}

	.cardStyle {
		flex: 30%;
		display: grid;
		top: 10px;
		right: 10%;
	}
}
@media screen and (min-width: 776px) and (max-width: 993px) {
	.cardDeck {
		/* display: grid;
		grid-template-columns: repeat(3, 35%); */
		/* background-color: red; */
		/* justify-content: space-around; */
	}
	.openSlide {
		display: flex;
		flex-wrap: wrap;
		width: 320%;
	}
	.openSlide2 {
		display: flex;
		flex-wrap: wrap;
		width: 320%;
	}

	.cardStyle2 {
		display: flex;
		flex-wrap: wrap;
		flex-basis: 200px;
		transform: translateX(-35%);
	}
}

/* @media screen and (mim-width: 771px) {
	.cardDeck {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
} */

/* Contact page */

.contactUs {
	text-transform: uppercase;
	color: darkorange;
}

.form {
	display: grid;
	justify-content: center;
	justify-items: center;
	margin: 80px;
	padding: 40px;
	background-color: rgb(22, 20, 1);
	border-radius: 20px;
	text-align: center;
}

label {
	color: darkorange;
	margin: 5px;
}

.contact-btn {
	border: none;
	margin: 10px;
	padding: 5px;
	width: 100px;
	background-color: darkorange;
	font-weight: bold;
}

/* Home Page  */

/* .slideIt {
	transform: translateY(40%);
	transition: transform 0.5s ease-in;
	animation: fade 2s forwards;
}

.homeActive {
	transform: translateY(10%);
	background-color: #f1df8d;
} */
